<div class="row">
	Existing Bookings. 
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Listings
			</div>
			<div class="panel-body">
				<% @bookings.each do |booking| %>
					<% if booking.confirmation_status == 'pending' %>
						<%= form_for(booking, url: room_booking_path(booking.room.id, booking.id), html: { method: :put }) do |f| %>
							<%= f.hidden_field :confirmation_status, value: 'accepted' %>
							<%= f.hidden_field :room_id, value: booking.room.id %>
						    <div class="form-group">
						    	<label>Confirmation Message</label>
						    	<%= f.text_area :confirmation_message, rows: 5, placeholder: "Write a confirmation message", class: "form-control" %>
						    </div>
							<div class="actions">
							  <%= f.submit "Accept" %>
							</div>
						<% end %>
						<%= form_for(booking, url: room_booking_path(booking.room.id, booking.id), html: { method: :put }) do |f| %>
						  <%= f.hidden_field :confirmation_status, value: 'declined' %>
						  <%= f.hidden_field :room_id, value: booking.room.id %>
						    <div class="form-group">
						    	<label>Confirmation Message</label>
						    	<%= f.text_area :confirmation_message, rows: 5, placeholder: "Write a confirmation message", class: "form-control" %>
						    </div>
						  <div class="actions">
						    <%= f.submit "Decline" %>
						  </div>
						<% end %>
					<% end %>
					<div class="row">
						<div class="col-md-12">
							<h2>Confirmation Status</h2>
							<p><%= booking.confirmation_status %></p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<h2>Nightly Price: </h2>
							<%= booking.price %>
						</div>
						<div class="col-md-6">
							<h2>Total: </h2>
							<%= booking.total %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<h2>Start Date: </h2>
							<%= booking.start_date %>
						</div>
						<div class="col-md-6">
							<h2>End Date: </h2>
							<%= booking.end_date %>
						</div>
					</div>
					<hr>
				<% end %>
			</div>
		</div>
	</div>
</div>