<div class="panel panel-default">
	<div class="panel-body">
		Booking Information
		  <li>
			  <%= link_to "Room Info", room_path(@booking.room.id), class: "btn btn-primary" %>  
		  </li>
		<!-- About -->
		<div class="row">
			<div class="col-md-12">
				<h2>Confirmation Status</h2>
				<p><%= @booking.confirmation_status %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Nightly Price</h2>
				<p><%= @booking.price %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Total</h2>
				<p><%= @booking.total %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Start Date</h2>
				<p><%= @booking.start_date %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>End Date</h2>
				<p><%= @booking.end_date %></p>
			</div>
		</div>
	</div>
</div>